{% extends 'layouts/application.html' %}

{% block head %}

    <title>Apologetic podcasts</title>

    <meta name="description" content="Knowledge & resources for defending classical monotheistic Christianity">

	<style>
		.cards h3{
			margin-bottom:5px;
		}
	</style>
{% endblock %}

{% block bodyid %}podcasts{% endblock %}
{% block bodyclass %}apologetic-resources{% endblock %}

{% block content %}

<section id="search">
	<header class="main">
		<h1>Apologetic podcasts</h1>
	</header>

	<div class="ui link cards" style="margin-top:50px">

		<div class="card">
			<div class="content">
				<h3 class="header">Stand to reason podcast</h3>
				<div class="meta"> <span class="date">from <a href="https://www.str.org">Stand to Reason</a></span> </div>
				<hr>
				<div class="description">
					<p>This podcast rebroadcasts our weekly radio program. Our purpose is to help Christians think more clearly about their faith and to help them make an even-handed, incisive, yet gracious defense for classical Christianity. Released every Wednesday.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-podcast"></i> <a href="https://www.str.org/podcasts">Subscribe</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">#STRask podcast</h3>
				<div class="meta"> <span class="date">from <a href="https://www.str.org">Stand to Reason</a></span> </div>
				<hr>
				<div class="description">
					<p>Greg Koukl, host of Stand to Reason’s two-hour weekly podcast, is put on a timer and answers questions in under four minutes. We take questions from @STRtweets and ask Greg to give a short, concise answers.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-podcast"></i> <a href="https://www.str.org/podcasts">Subscribe</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Unbelievable?</h3>
				<div class="meta"> <span class="date">from <a href="http://www.premierchristianradio.com/">Premier Christian Media</a></span> </div>
				<hr>
				<div class="description">
					<p>Unbelievable? engages in fundamental questions on Christianity with the intention to openly discuss different opinions between Christians and non-believers.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-podcast"></i> <a href="http://www.premierchristianradio.com/Shows/Saturday/Unbelievable/Episodes">Subscribe</a><br>
				<i class="fa fa-fw fa-facebook"></i> <a href="https://www.facebook.com/UnbelievableJB/">UnbelievableJB</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">CrossExamined podcast</h3>
				<div class="meta"> <span class="date">from <a href="http://crossexamined.org/">crossexamined.org</a></span> </div>
				<hr>
				<div class="description">
					<p>Join Frank as he discusses challenging topics, takes calls from listeners, and interviews dynamic Christian apologists. Sponsored by CrossExamined.org, this apologetics program is both informative and entertaining!</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-podcast"></i> <a href="https://itunes.apple.com/us/podcast/cross-examined/id402803400?mt=2">Subscribe</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">The cold-case christianity podcast</h3>
				<div class="meta"> <span class="date">from <a href="http://coldcasechristianity.com/">coldcasechristianity.com</a></span> </div>
				<hr>
				<div class="description">
					<p>Hosted by J. Warner Wallace, cold-case detective and author of Cold-Case Christianity (A Homicide Detective Investigates the Claims of the Gospels). We examine the case for the Christian Worldview from an evidential perspective and do our best to tell it like it is. </p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-podcast"></i> <a href="https://itunes.apple.com/us/podcast/cold-case-christianity-podcast/id259695657?mt=2">Subscribe</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Reasonable faith podcast</h3>
				<div class="meta"> <span class="date">from <a href="http://www.reasonablefaith.org/">Reasonable Faith</a></span> </div>
				<hr>
				<div class="description">
					<p>Reasonable Faith is a conversational program dealing with the most important apologetic questions of our day with William Lane Craig.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-podcast"></i> <a href="https://itunes.apple.com/podcast/reasonable-faith-podcast/id252618197?mt=2">Subscribe</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">The Briefing</h3>
				<div class="meta"> <span class="date">from <a href="http://www.albertmohler.com/about/">Albert Mohler</a></span> </div>
				<hr>
				<div class="description">
					<p>The Briefing is a daily analysis of news and events from a Christian worldview.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-podcast"></i> <a href="http://www.albertmohler.com/the-briefing/">Subscribe</a>
			</div>
		</div>

	</div>
</section>

{% endblock %}
