{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block head %}

    <title>Classical Monotheistic Christian Apologetics | c-m-c-a.com</title>

    <meta name="description" content="Knowledge & resources for defending classical monotheistic Christianity">

{% endblock %}

{% block bodyid %}homepage{% endblock %}

{% block content %}

<section id="banner">
	<div class="content" id="search">
		<header>
			<h1>Classical Monotheistic Christian Apologetics</h1>
			<p>Knowledge and resources for defending reality. </p>
		</header>
		<ul class="actions">
			<li><a href="/what-is-classical-monotheistic-christian-apologetics" class="button tiny">What is Classical Monotheistic Christianity?</a></li>
		</ul>
	</div> 
	<span class="image object"><img src="/images/homepage/paul_preaching_in_athens.jpg" alt="" /></span>
</section>

{% endblock %}
