{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block head %}

    <title>Homepage</title>

    <meta name="description" content="Knowledge & resources for defending classical monotheistic Christianity">

{% endblock %}

{% block bodyid %}homepage{% endblock %}

{% block content %}

<section id="banner">
	<div class="content" id="search">
		<header>
			<h1>What is Classical Monotheistic Christianity?</h1>
			<p>Why defend (i.e. <a class="wordDef">apologia</a>) it?</p>
		</header>
		<p>The purpose of this site will be to provide insights and resources for defending <a class="wordDef">classical</a > <a class="wordDef">monotheistic</a> <a class="wordDef">Christianity</a>. Before answering the question, “why defend it?”, I need to unpack the words classical, monotheistic, and Christianity so as to be clear on what is being defended and what is not being defended.</p>
		<ul class="actions">
			<li><a href="/what-is-classical-monotheistic-christian-apologetics" class="button big">Keep Reading</a></li>
		</ul>
	</div> 
	<span class="image object"><img src="/images/homepage/paul_preaching_in_athens.jpg" alt="" /></span>
</section>

{% endblock %}
