{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block head %}

    <title>Homepage</title>

    <meta name="description" content="Knowledge & resources for defending classical monotheistic Christianity">

{% endblock %}

{% block content %}

<section id="banner">
	<div class="content" id="search">
		<header>
			<h1>What is Classical Monotheistic Christianity?</h1>
			<p>Why defend (i.e. <a href="https://en.oxforddictionaries.com/definition/apologia" class="wordDef">apologia</a>) it?</p>
		</header>
		<p>The purpose of this site will be to provide insights and resources for defending classical <a href="https://en.oxforddictionaries.com/definition/monotheistic" class="wordDef">monotheistic</a> Christianity. Before answering the question, “why defend it?”, I will define the words classical, monotheistic, and Christianity so as to be clear on what is being defended and what is not being defended.
		
		</p>
		<ul class="actions">
			<li><a href="#" class="button big">Keep Reading</a></li>
		</ul>
	</div> 
	<span class="image object"><img src="/images/homepage/paul_preaching_in_athens.jpg" alt="" /></span>
</section>

{% endblock %}
