{% extends 'layouts/application.html' %}

{% block head %}

    <title>Top apologists to read/follow</title>

    <meta name="description" content="Knowledge & resources for defending classical monotheistic Christianity">

{% endblock %}

{% block bodyid %}top-apologist-to-read-follow{% endblock %}

{% block content %}

	<section id="search">
		<h1>Top apologists to read/follow</h1>
		<div class="ui link cards" style="margin-top:50px">

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/thomas.jpg"> </div>
				<div class="content"> <a class="header">Thomas Aquinas</a>
					<div class="meta"> <span class="date">1225 – 1274</span> </div>
					<div class="description">
						<p>Thomas Aquinas lived at a critical juncture of western culture when the arrival of the Aristotelian corpus in Latin
							translation reopened the question of the relation between faith and reason, calling into question the modus vivendi
							that had obtained for centuries. This crisis flared up just as universities were being founded.</p>
						<p><a href="http://plato.stanford.edu/entries/aquinas/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="http://dhspriory.org/thomas/"> <i class="fa fa-fw fa-desktop"></i> dhspriory.org/thomas </a><br>
					<a href="https://www.amazon.com/Thomas-Aquinas/e/B000AQ3SDK/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=ea1d27e3b57896d7284864d30e77a24c&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/anselm.jpg"> </div>
				<div class="content"> <a class="header">St. Anselm</a>
					<div class="meta"> <span class="date">1033 — 1109</span> </div>
					<div class="description">
						<p>Saint Anselm of Canterbury (1033–1109) was the outstanding Christian philosopher and theologian of the eleventh century.
							He is best known for the celebrated “ontological argument” for the existence of God in the Proslogion, but his contributions
							to philosophical theology (and indeed to philosophy more generally) go well beyond the ontological argument.</p>
						<p><a href="http://plato.stanford.edu/entries/anselm/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://www.ccel.org/ccel/anselm"> <i class="fa fa-fw fa-desktop"></i> www.ccel.org/ccel/anselm </a><br>
					<a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=St.+Anselm&search-alias=books&field-author=St.+Anselm&sort=relevancerank&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=d819b58df6821289f6177246b34e290c&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/st-augustine.jpg"> </div>
				<div class="content"> <a class="header">St. Augustine</a>
					<div class="meta"> <span class="date">354 — 430</span> </div>
					<div class="description">
						<p>St. Augustine is a fourth century philosopher whose groundbreaking philosophy infused Christian doctrine with Neoplatonism.
							He is famous for being an inimitable Catholic theologian and for his agnostic contributions to Western philosophy.
							He argues that skeptics have no basis for claiming to know that there is no knowledge.</p>
						<p><a href="http://plato.stanford.edu/entries/augustine/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="http://www.augustinus.it/"> <i class="fa fa-fw fa-desktop"></i> www.augustinus.it </a><br>
					<a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Saint+Augustine&search-alias=books&field-author=Saint+Augustine&sort=relevancerank&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=b443217d8c99d051160ddc74cdb69b72&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/francisb.jpg"> </div>
				<div class="content"> <a class="header">Francis J. Beckwith</a>
					<div class="description">
						<p>A philosopher who publishes and teaches in the areas of politics, jurisprudence, religion, and ethics. He is Professor
							of Philosophy and Church-State Studies, and Co-Director of the Program in Philosophical Studies of Religion in the
							Institute for Studies of Religion, at Baylor University in Waco, Texas.</p>
						<p><a href="http://sites.baylor.edu/francisbeckwith/23-2/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/fbeckwith"> <i class="fa fa-fw fa-twitter"></i> @fbeckwith </a><br>
					<a href="http://sites.baylor.edu/francisbeckwith/"> <i class="fa fa-fw fa-desktop"></i> sites.baylor.edu/francisbeckwith </a> <br>
					<a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Francis+J.+Beckwith&search-alias=books&field-author=Francis+J.+Beckwith&sort=relevancerank&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=9a96ea2bf436274e591445121c98720e&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/jefreyd.jpg"> </div>
				<div class="content"> <a class="header">Jefrey D. Breshears</a>
					<div class="description">
						<p>Jefrey Breshears, Ph.D., is a Christian historian, apologist, and the president of "The Areopagus", a Christian study
							center and education ministry in Atlanta, Georgia that sponsors seminars and forums in Christian history, apologetics,
							science-related topics, Christian spirituality, literature and the arts, and contemporary cultural issues.</p>
						<p><a href="http://www.theareopagus.org/blog/2011/12/dr-jefrey-breshears/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="http://www.theareopagus.org/"> <i class="fa fa-fw fa-desktop"></i> http://www.theareopagus.org </a> <br>
					<a href="https://www.amazon.com/Jefrey-D.-Breshears/e/B00J6O33XM/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=d65b5fb24845ec117a929356181d38de&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/ckc.jpg"> </div>
				<div class="content"> <a class="header">G.K. Chesterton</a>
					<div class="meta"> <span class="date">1874 – 1936</span> </div>
					<div class="description">
						<p>G.K. Chesterton was the best writer of the 20th century. He said something about everything and he said it better than
							anybody else. A convert to the Catholic Church, Chesterton wrote nearly a hundred books during his lifetime, and literally
							thousands of essays, in newspapers and magazines.</p>
						<p><a href="https://www.chesterton.org/category/discover-chesterton/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/GKCDaily"> <i class="fa fa-fw fa-twitter"></i> @GKCDaily </a><br>
					<a href="https://www.chesterton.org"> <i class="fa fa-fw fa-desktop"></i> www.chesterton.org </a> <br>
					<a href="https://www.amazon.com/G.-K.-Chesterton/e/B000APF848/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=3435ff74ecd00d7564d6756c7ee551d8&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/paulc.jpg"> </div>
				<div class="content"> <a class="header">Paul Copan </a>
					<div class="description">
						<p>A Christian theologian, analytic philosopher, apologist, and author. He has written and edited over 25 books in the
							area of philosophy of religion, apologetics, theology, science and religion, and the historicity of Jesus Christ.</p>
						<p><a href="https://en.wikipedia.org/wiki/Paul_Copan">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/paulcopan"> <i class="fa fa-fw fa-twitter"></i> @paulcopan </a><br>
					<a href="http://http://www.josh.org/"> <i class="fa fa-fw fa-desktop"></i> www.paulcopan.com </a> <br>
					<a href="https://www.amazon.com/Paul-Copan/e/B001HN3I3A/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=1630162a3d24cc9b23cec2f68ef7ccf7&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/craig.jpg"> </div>
				<div class="content"> <a class="header">William Lane Craig</a>
					<div class="description">
						<p>William Lane Craig is Research Professor of Philosophy at Talbot School of Theology and Professor of Philosophy at Houston
							Baptist University. </p>
						<p><a href="http://www.reasonablefaith.org/william-lane-craig">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/RFupdates"> <i class="fa fa-fw fa-twitter"></i> @RFupdates </a><br>
					<a href="https://www.facebook.com/reasonablefaithorg"> <i class="fa fa-fw fa-facebook"></i> reasonablefaithorg </a><br>
					<a href="https://www.youtube.com/user/ReasonableFaithOrg">
					<i class="fa fa-fw fa-youtube"></i> ReasonableFaithOrg </a><br>
					<a href="http://www.reasonablefaith.org/"> <i class="fa fa-fw fa-desktop"></i> www.reasonablefaith.org </a> <br>
					<a href="https://itunes.apple.com/podcast/reasonable-faith-podcast/id252618197?mt=2">
					<i class="fa fa-fw fa-microphone"></i> Reasonable Faith Podcast </a> <br>
					<a href="http://get.thechurchapp.org/754a/#!/cross-examined">
					<i class="fa fa-fw fa-mobile"></i> Reasonable Faith for iOS </a> <br>
					<a href="https://play.google.com/store/apps/details?id=com.subsplash.thechurchapp.reasonablefaith">
					<i class="fa fa-fw fa-mobile"></i> Reasonable Faith for Android </a><br>
					<a href="https://www.amazon.com/William-Lane-Craig/e/B00MC476Z4/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=ba3ea5748032e7d6d9646a67188dc361&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/norm-g.jpg"> </div>
				<div class="content"> <a class="header">Norman L. Geisler</a>
					<div class="description">
						<p>Dr. Norman Geisler, PhD, is a prolific author, veteran professor, speaker, lecturer, traveler, philosopher, apologist,
							evangelist, and theologian. To those who ask, “Who is Norm Geisler?” some have suggested, “Imagine a cross between
							Thomas Aquinas and Billy Graham and you’re not too far off.”</p>
						<p><a href="http://normangeisler.com/about/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/normgeisler"> <i class="fa fa-fw fa-twitter"></i> @normgeisler </a><br>
					<a href="https://www.facebook.com/normgeisler"> <i class="fa fa-fw fa-facebook"></i> normgeisler </a><br>
					<a href="https://www.youtube.com/user/DrNormanLGeisler"> <i class="fa fa-fw fa-youtube"></i> TurekVideo </a><br>
					<a href="http://normangeisler.com/"> <i class="fa fa-fw fa-desktop"></i> www.normangeisler.com </a> <br>
					<a href="https://www.amazon.com/Norman-L.-Geisler/e/B000APBJR8/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=196d573b787afd1fd5e5b3ba2bc390bb&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/blake.jpg"> </div>
				<div class="content"> <a class="header">Blake Giunta</a>
					<div class="description">
						<p>Blake has read and catalogued the arguments of 23 academic books on the historical case for Jesus’s resurrection (only
							a fraction of which are uploaded to BeliefMap). He has done something similar with countless books on God’s existence,
							and has participated in thousands of discussions on these topics along his way, even debating pop-level atheists like
							Dan Barker and Matt Dillahunty. </p>
						<p><a href="https://beliefmap.org/about-us/blake-giunta/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/blakegiunta"> <i class="fa fa-fw fa-twitter"></i> @blakegiunta </a><br>
					<a href="https://www.facebook.com/blake.giunta"> <i class="fa fa-fw fa-facebook"></i> blake.giunta </a><br>
					<a href="https://beliefmap.org/"> <i class="fa fa-fw fa-desktop"></i> www.beliefmap.org </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/dougg.jpg"> </div>
				<div class="content"> <a class="header">Dr. Douglas Groothuis</a>
					<div class="description">
						<p>A member of the Evangelical Theological Society, Evangelical Philosophical Society, and Society of Christian Philosophers.
							He has served as adjunct professor at Seattle Pacific University, visiting instructor in apologetics for Westminster
							Theological Seminary, and instructor at the University of Oregon.</p>
						<p><a href="https://douglasgroothuis.com/contact/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/douggroothuis"> <i class="fa fa-fw fa-twitter"></i> @douggroothuis </a><br>
					<a href="https://www.facebook.com/Douglas-Groothuis-776258115756217/">
					<i class="fa fa-fw fa-facebook"></i> Douglas-Groothuis </a><br>
					<a href="https://www.youtube.com/channel/UC-siAnbcFyKPfg-wsXXBpcQ">
					<i class="fa fa-fw fa-youtube"></i> lectures/talks </a> <br>
					<a href="https://douglasgroothuis.com"> <i class="fa fa-fw fa-desktop"></i> www.douglasgroothuis.com </a> <br>
					<a href="https://www.amazon.com/Douglas-Groothuis/e/B000APOGU0/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=40a2284acbfd3904d1b1513c81060390&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/oz.jpg"> </div>
				<div class="content"> <a class="header">Os Guinness</a>
					<div class="description">
						<p>Os Guinness is an author and social critic. Great-great-great grandson of Arthur Guinness, the Dublin brewer, he was
							born in China in World War Two where his parents were medical missionaries. He completed his undergraduate degree at
							the University of London and his D.Phil in the social sciences from Oriel College, Oxford. </p>
						<p><a href="http://www.osguinness.com/about/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/osguinness"> <i class="fa fa-fw fa-twitter"></i> @osguinness </a><br>
					<a href="https://www.facebook.com/OsGuinness"> <i class="fa fa-fw fa-facebook"></i> OsGuinness </a><br>
					<a href="http://www.osguinness.com/"> <i class="fa fa-fw fa-desktop"></i> www.osguinness.com </a> <br>
					<a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Os+Guinness&search-alias=books&field-author=Os+Guinness&sort=relevancerank&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=b9fe0a3a21e2d5ef97b77928626f4404&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/gary.jpg"> </div>
				<div class="content"> <a class="header">Dr. Gary R. Habermas</a>
					<div class="description">
						<p>An American historian, New Testament scholar, and philosopher of religion who frequently writes and lectures on the
							Resurrection of Jesus. Habermas is Distinguished Professor of Apologetics and Philosophy and chairman of the department
							of philosophy and theology at Liberty University in Lynchburg, Virginia.</p>
						<p><a href="http://garyhabermas.com/vitainnuce.htm">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="http://garyhabermas.com/"> <i class="fa fa-fw fa-desktop"></i> www.garyhabermas.com </a> <br>
					<a href="https://www.amazon.com/Gary-R.-Habermas/e/B001H6IJPO/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=867518171748fc5d1361394927f6c234&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/craigh.jpg"> </div>
				<div class="content"> <a class="header">Craig J. Hazen</a>
					<div class="description">
						<p>Dr. Hazen is the editor of the philosophy journal, Philosophia Christi. He is also the author of the monograph The Village
							Enlightenment in America, the acclaimed apologetics novel Five Sacred Crossings, and dozens of articles and chapters
							in various books and journals. Founder and Director of the Christian Apologetics Program at Biola University. </p>
						<p><a href="https://www.biola.edu/directory/people/craig_hazen">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/craighazen"> <i class="fa fa-fw fa-twitter"></i> @craighazen </a> <br>
					<a href="https://www.facebook.com/craighazen"> <i class="fa fa-fw fa-facebook"></i> craighazen </a> <br>
					<a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Craig+J.+Hazen&search-alias=books&field-author=Craig+J.+Hazen&sort=relevancerank&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=b0c044ff3a835363600b4b0facc12fb8&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/jesus.jpg"> </div>
				<div class="content"> <a class="header">Jesus</a>
					<div class="meta"> <span class="date">6 BC – AD 30</span> </div>
					<div class="description">
						<p>Jesus Christ was born circa 6 B.C. in Bethlehem. Little is known about his early life, but his life and his ministry are recorded in the New Testament. Jesus is the incarnation of God. He died for the sins of all people and is the only man to ever rise from the dead.</p>
						<p><a href="http://www.equip.org/article/jesus-philosopher-and-apologist/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://www.bible.com/"> <i class="fa fa-fw fa-desktop"></i> www.bible.com</a> <br>
					<a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=bible&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=cba41ad49fe1fca21b05a600415bac7b&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i>books on amazon</a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/koukl.jpg"> </div>
				<div class="content"> <a class="header">Greg Koukl</a>
					<div class="description">
						<p>Greg started out thinking he was too smart to become a Christian and ended up giving his life for the defense of the
							Christian faith. A central theme of Greg's speaking and writing is that Christianity can compete in the marketplace
							of ideas when it's properly understood and properly articulated.</p>
						<p><a href="http://www.str.org/training/speakers/greg-koukl">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/STRtweets"> <i class="fa fa-fw fa-twitter"></i> @STRtweets </a><br>
					<a href="https://www.youtube.com/user/STRvideos"> <i class="fa fa-fw fa-youtube"></i> STRvideos </a><br>
					<a href="https://www.instagram.com/standtoreason/"> <i class="fa fa-fw fa-instagram"></i> standtoreason </a><br>
					<a href="https://www.facebook.com/standtoreason93"> <i class="fa fa-fw fa-facebook"></i> standtoreason93 </a><br>
					<a href="http://www.str.org/"> <i class="fa fa-fw fa-desktop"></i> www.str.org </a> <br>
					<a href="https://www.str.org/podcasts"> <i class="fa fa-fw fa-microphone"></i> https://www.str.org/podcasts </a> <br>
					<a href="http://www.str.org/apps"> <i class="fa fa-fw fa-mobile"></i> STR Apps </a> <br>
					<a href="https://www.amazon.com/Gregory-Koukl/e/B001JSFGPG/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=f09968f70e42a9766b13ae18a4861111&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/peterc.jpg"> </div>
				<div class="content"> <a class="header">Peter Kreeft</a>
					<div class="description">
						<p>A professor of philosophy at Boston College and The King's College. He is the author of numerous books as well as a
							popular writer of Christian philosophy, theology and apologetics. He also formulated, together with Ronald K. Tacelli,
							SJ, "Twenty Arguments for the Existence of God".</p>
						<p><a href="http://www.peterkreeft.com/about.htm">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/professorkreeft"> <i class="fa fa-fw fa-twitter"></i> @professorkreeft </a> <br>
					<a href="http://www.peterkreeft.com"> <i class="fa fa-fw fa-desktop"></i> www.peterkreeft.com </a> <br>
					<a href="https://www.amazon.com/Peter-Kreeft/e/B000APBQD0/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=2b674478173efdb8ef2265bf58a94402&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/john-lennox.jpg"> </div>
				<div class="content"> <a class="header">John Lennox</a>
					<div class="description">
						<p>John Lennox is Professor of Mathematics (emeritus) at the University of Oxford and Fellow in Mathematics and the Philosophy
							of Science at Green Templeton College, Oxford. He is also an Associate Fellow of the Said Business School, Oxford University,
							and teaches for the Oxford Strategic Leadership Programme.</p>
						<p><a href="http://www.johnlennox.org/about/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="http://www.johnlennox.org/"> <i class="fa fa-fw fa-desktop"></i> www.johnlennox.org </a><br>
					<a href="https://twitter.com/ProfJohnLennox"> <i class="fa fa-fw fa-twitter"></i> @ProfJohnLennox </a> <br>
					<a href="https://www.amazon.com/John-C.-Lennox/e/B001HO3C5I/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=91f2053c9cc30b2aa93ae9cad35a9efe&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/c-s-lewis.jpg"> </div>
				<div class="content"> <a class="header">C.S. Lewis</a>
					<div class="meta"> <span class="date">1898 – 1963</span> </div>
					<div class="description">
						<p>Clive Staples Lewis was a British novelist, poet, academic, medievalist, literary critic, essayist, lay theologian,
							broadcaster, lecturer, and Christian apologist. He is one of the intellectual giants of the twentieth century and arguably
							one of the most influential writers of his day.</p>
						<p><a href="https://www.cslewis.com/us/about-cs-lewis">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/cslewis"> <i class="fa fa-fw fa-twitter"></i> @CSLewis </a><br>
					<a href="https://www.facebook.com/CSLewisOfficial"> <i class="fa fa-fw fa-facebook"></i> CSLewisOfficial </a><br>
					<a href="https://www.cslewis.com/us/"> <i class="fa fa-fw fa-desktop"></i> www.cslewis.com </a> <br>
					<a href="https://www.amazon.com/C.-S.-Lewis/e/B000APXBPG?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=212c2885f624a4d88158cbcfc06f2ab8&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/joshm.jpg"> </div>
				<div class="content"> <a class="header">Josh McDowell</a>
					<div class="description">
						<p>A Christian apologist, evangelist, and writer. He is within the Evangelical tradition of Protestant Christianity, and
							is the author or co-author of some 115 books.</p>
						<p><a href="http://www.josh.org/about-us/joshs-bio/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/josh_mcdowell"> <i class="fa fa-fw fa-twitter"></i> @josh_mcdowell </a><br>
					<a href="https://www.facebook.com/jmministry"> <i class="fa fa-fw fa-facebook"></i> jmministry </a><br>
					<a href="http://www.josh.org/"> <i class="fa fa-fw fa-desktop"></i> www.josh.org </a><br>
					<a href="https://www.youtube.com/user/JoshMcDowell"> <i class="fa fa-fw fa-youtube"></i> JoshMcDowell </a><br>
					<a href="https://www.amazon.com/Josh-McDowell/e/B000APEQR8/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=ca1dc7017227776a093bd59adab272f3&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/seanm.jpg"> </div>
				<div class="content"> <a class="header">Sean McDowell</a>
					<div class="description">
						<p>An Assistant Professor in the Christian Apologetics program at Biola University. And he is the Resident Scholar for
							Summit California.</p>
						<p><a href="http://seanmcdowell.org/author/bio">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/sean_mcdowell"> <i class="fa fa-fw fa-twitter"></i> @sean_mcdowell </a><br>
					<a href="https://www.facebook.com/seanmcdowellphd"> <i class="fa fa-fw fa-facebook"></i> seanmcdowellphd </a><br>
					<a href="http://seanmcdowell.org/"> <i class="fa fa-fw fa-desktop"></i> seanmcdowell.org </a><br>
					<a href="https://www.amazon.com/Sean-McDowell/e/B001JS9Z94/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=32a840ffe8be3d49cf946cae1eea38e2&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/jwm.jpg"> </div>
				<div class="content"> <a class="header">John Warwick Montgomery</a>
					<div class="description">
						<p>A noted lawyer, professor, Lutheran theologian, and prolific author living in France. He is Distinguished Research Professor
							of Philosophy at Concordia University, Wisconsin, and continues to work as a barrister specializing in religious freedom
							cases in international Human Rights law. He is chiefly noted for his major contributions as a writer, lecturer and
							public debater in the field of Christian apologetics.[4]</p>
						<p><a href="http://www.jwm.christendom.co.uk/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="http://www.jwm.christendom.co.uk/"> <i class="fa fa-fw fa-desktop"></i> www.jwm.christendom.co.uk </a> <br>
					<a href="https://www.amazon.com/John-Warwick-Montgomery/e/B000APQAKO/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=685dc21409fef8c99e22ffa156aa8428&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/jpmoreland.jpg"> </div>
				<div class="content"> <a class="header">J.P. Moreland</a>
					<div class="description">
						<p>An American philosopher, theologian, and Christian apologist. He currently serves as a Distinguished Professor of Philosophy
							at Talbot School of Theology at Biola University in La Mirada, California. With degrees in philosophy, theology and
							chemisty, Dr. Moreland brings erudition, passion, and his distinctive ebullience to the end of loving God with all
							of one's mind.</p>
						<p><a href="http://www.jpmoreland.com/about/bio/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/jpmoreland"> <i class="fa fa-fw fa-twitter"></i> @jpmoreland </a><br>
					<a href="https://www.facebook.com/J-P-Moreland-118578028208045/">
					<i class="fa fa-fw fa-facebook"></i> J. P. Moreland </a><br>
					<a href="http://www.jpmoreland.com/"> <i class="fa fa-fw fa-desktop"></i> www.jpmoreland.com </a> <br>
					<a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=J.P.+Moreland&search-alias=books&field-author=J.P.+Moreland&sort=relevancerank&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=f5749d34646f90b38676032a15e5ce06&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/nash.jpg"> </div>
				<div class="content"> <a class="header">Ronald H. Nash</a>
					<div class="meta"> <span class="date">1936 – 2006</span> </div>
					<div class="description">
						<p>An Evangelical Baptist philosopher and apologist in the Calvinist tradition. Nash served as a professor for over 40
							years, teaching and writing in the areas of worldview, apologetics, ethics, theology and history.</p>
						<p><a href="https://en.wikipedia.org/wiki/Ronald_H._Nash">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://www.amazon.com/Ronald-H.-Nash/e/B000APK5U0/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=b72b9c5f02aece2ee51ef6d8562c3530&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/blaise-pascal.jpg"> </div>
				<div class="content"> <a class="header">Blaise Pascal</a>
					<div class="meta"> <span class="date">1623 – 1662</span> </div>
					<div class="description">
						<p>A French mathematician, physicist, inventor, writer and Christian philosopher. He was a child prodigy who was educated
							by his father, a tax collector in Rouen. Pascal's earliest work was in the natural and applied sciences where he made
							important contributions to the study of fluids, and clarified the concepts of pressure and vacuum by generalizing the
							work of Evangelista Torricelli. Pascal also wrote in defence of the scientific method.</p>
						<p><a href="http://plato.stanford.edu/entries/pascal/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://www.amazon.com/Blaise-Pascal/e/B000APC350/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=45c65cafe1588a74cdf1e940adc5cfec&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/nancy.jpg"> </div>
				<div class="content"> <a class="header">Nancy Pearcey</a>
					<div class="description">
						<p>She was the Francis A. Schaeffer Scholar at the World Journalism Institute, where she taught a worldview course based
							on her book Total Truth, winner of the 2005 ECPA Gold Medallion Award for best book on Christianity and Society.</p>
						<p><a href="http://www.pearceyreport.com/about.php">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/NancyRPearcey"> <i class="fa fa-fw fa-twitter"></i> @NancyRPearcey </a><br>
					<a href="https://www.facebook.com/nancy.pearcey.7"> <i class="fa fa-fw fa-facebook"></i> nancy.pearcey.7 </a><br>
					<a href="http://www.nancypearcey.com"> <i class="fa fa-fw fa-desktop"></i> www.nancypearcey.com </a> <br>
					<a href="https://www.amazon.com/Nancy-Pearcey/e/B001K8EE7G/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=4e417804bbb8e2df26bea9879a1d91ac&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/johnmr.jpg"> </div>
				<div class="content"> <a class="header">John Mark Reynolds</a>
					<div class="description">
						<p>A an author, public intellectual, educational entrepreneur, and philosopher. Dr. Reynolds lectures frequently on ancient
							philosophy, philosophy of science, home-schooling and cultural trends. He regularly appears on radio talk shows, including
							the Hugh Hewitt Show, and actively blogs on cultural issues. He is the author of the novel Chasing Shadows and the
							editor of The Great Books Reader and a survey of Greek philosophy titled When Athens Met Jerusalem.</p>
						<p><a href="http://www.saintconstantine.org/faculty/dr-john-mark-reynolds-2/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/JMNR"> <i class="fa fa-fw fa-twitter"></i> @JMNR </a> <br>
					<a href="https://www.amazon.com/John-Mark-Reynolds/e/B001IQXL6K/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=8780b4bec8861a2495da9a69fe63ebf7&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/hugh.jpg"> </div>
				<div class="content"> <a class="header">Dr. Hugh Ross</a>
					<div class="description">
						<p>A Canadian astrophysicist, Christian apologist, and old earth creationist. He is known for establishing his own ministry
							in 1986, called Reasons to Believe that promotes progressive and day-age forms of Old Earth Creationism.</p>
						<p><a href="http://www.reasons.org/about/who-we-are/hugh-ross">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/RTB_HRoss"> <i class="fa fa-fw fa-twitter"></i> @RTB_HRoss </a><br>
					<a href="https://www.facebook.com/RTBHughRoss"> <i class="fa fa-fw fa-facebook"></i> RTBHughRoss </a><br>
					<a href="http://www.reasons.org/"> <i class="fa fa-fw fa-desktop"></i> www.reasons.org </a> <br>
					<a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Hugh+Ross&search-alias=books&field-author=Hugh+Ross&sort=relevancerank&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=64877bac310a744217d909a72f50a5be&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/samples.jpg"> </div>
				<div class="content"> <a class="header">Kenneth R. Samples</a>
					<div class="description">
						<p>Philosopher and theologian Kenneth Richard Samples has a great passion to help people understand the reasonableness
							and relevance of Christianity's truth claims. He encourages believers to develop a logically defensible faith and challenges
							skeptics to engage Christianity at a philosophical worldview level.</p>
						<p><a href="http://www.reasons.org/about/who-we-are/kenneth-samples">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/RTB_KSamples"> <i class="fa fa-fw fa-twitter"></i> @RTB_KSamples </a><br>
					<a href="https://www.facebook.com/KennethRSamples"> <i class="fa fa-fw fa-facebook"></i> KennethRSamples </a><br>
					<a href="http://www.reasons.org/"> <i class="fa fa-fw fa-desktop"></i> www.reasons.org </a> <br>
					<a href="https://www.amazon.com/Kenneth-R.-Samples/e/B001JSBIEE/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=25aef82d3d96c59da9fecd4eeab8ac27&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/francis.jpg"> </div>
				<div class="content"> <a class="header">Francis Schaeffer</a>
					<div class="meta"> <span class="date">1912 – 1984</span> </div>
					<div class="description">
						<p>An American Evangelical Christian theologian, philosopher, and Presbyterian pastor. He is best known for establishing
							the L'Abri community in Switzerland. Opposed to theological modernism, Schaeffer promoted a more historic Protestant
							faith and a presuppositional approach to Christian apologetics, which he believed would answer the questions of the
							age.</p>
						<p><a href="https://en.wikipedia.org/wiki/Francis_Schaeffer">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/FSchaeffer_"> <i class="fa fa-fw fa-twitter"></i> @FSchaeffer_ </a><br>
					<a href="https://www.amazon.com/Francis-A.-Schaeffer/e/B000APF76M/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=3e2b57ed79203bddb1707076bf872811&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/matts.jpg"> </div>
				<div class="content"> <a class="header">Matt Slick</a>
					<div class="description">
						<p>President and Founder of the Christian Apologetics and Research Ministry. Matt started CARM in October of 1995 to respond
							to the many false teachings of the cults on the Internet.</p>
						<p><a href="https://carm.org/matt-slick2">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/mattslick"> <i class="fa fa-fw fa-twitter"></i> @mattslick </a><br>
					<a href="https://www.facebook.com/Carm.org/"> <i class="fa fa-fw fa-facebook"></i> Carm.org </a><br>
					<a href="https://www.youtube.com/user/carmvideos"> <i class="fa fa-fw fa-youtube"></i> carmvideos </a> <br>
					<a href="http://feeds.feedburner.com/carmorgpodcasting"> <i class="fa fa-fw fa-microphone"></i> CARM Radio Podcasts </a> <br>
					<a href="https://carm.org/"> <i class="fa fa-fw fa-desktop"></i> www.carm.org </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/leestrobel.jpg"> </div>
				<div class="content"> <a class="header">Lee Strobel</a>
					<div class="description">
						<p>Atheist-turned-Christian Lee Strobel is the former award-winning legal editor of The Chicago Tribune and best-selling
							author of more than twenty books. His classic, The Case for Christ, is a perennial favorite which details his conversion
							to Christianity.</p>
						<p><a href="http://leestrobel.com/about/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/leestrobel"> <i class="fa fa-fw fa-twitter"></i> @leestrobel </a><br>
					<a href="http://leestrobel.com/"> <i class="fa fa-fw fa-desktop"></i> www.leestrobel.com </a> <br>
					<a href="https://www.amazon.com/Lee-Strobel/e/B001H6KH8G/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=2d289b58caec906b61c8e9b120c67540&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/larryt.jpg"> </div>
				<div class="content"> <a class="header">Larry Alex Taunton</a>
					<div class="description">
						<p>An American author, columnist, contributor to The Atlantic, and cultural commentator based out of Birmingham, Alabama
							who serves as the Executive Director of Fixed Point Foundation, a non-profit dedicated to the public defense of the
							Christian faith. Larry Taunton has personally engaged some of the most outspoken opponents of Christianity, including
							Richard Dawkins, Christopher Hitchens, and Peter Singer.</p>
						<p><a href="http://larryalextaunton.com/about/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/larrytaunton"> <i class="fa fa-fw fa-twitter"></i> @larrytaunton </a><br>
					<a href="https://www.facebook.com/larrytaunton"> <i class="fa fa-fw fa-facebook"></i> larrytaunton </a><br>
					<a href="http://larryalextaunton.com"> <i class="fa fa-fw fa-desktop"></i> larryalextaunton.com </a> <br>
					<a href="https://www.amazon.com/Larry-Alex-Taunton/e/B004Y8EN3O/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=628049f3939825e7eb1165bb2600a41b&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/frank-turek.jpg"> </div>
				<div class="content"> <a class="header">Frank Turek</a>
					<div class="description">
						<p>Frank presents powerful and entertaining evidence for Christianity at churches, high schools and at secular college
							campuses that often begin hostile to his message.</p>
						<p><a href="http://crossexamined.org/dr-frank-turek/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/frank_turek"> <i class="fa fa-fw fa-twitter"></i> @frank_turek </a><br>
					<a href="https://www.facebook.com/CrossExamined.org"> <i class="fa fa-fw fa-facebook"></i> CrossExamined.org </a><br>
					<a href="https://www.youtube.com/user/TurekVideo"> <i class="fa fa-fw fa-youtube"></i> TurekVideo </a><br>
					<a href="https://www.instagram.com/drfrankturek/"> <i class="fa fa-fw fa-instagram"></i> drfrankturek </a><br>
					<a href="http://crossexamined.org"> <i class="fa fa-fw fa-desktop"></i> www.crossexamined.org </a> <br>
					<a href="https://itunes.apple.com/us/podcast/cross-examined/id402803400?mt=2">
					<i class="fa fa-fw fa-microphone"></i> Cross Examined podcast </a> <br>
					<a href="http://get.thechurchapp.org/754a/#!/cross-examined">
					<i class="fa fa-fw fa-mobile"></i> Cross Examined App </a> <br>
					<a href="https://www.amazon.com/Frank-Turek/e/B001HMNJAI/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=04a800ae7fba68d6e0eb22c8eea5346a&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/jwallace.jpg"> </div>
				<div class="content"> <a class="header">J. Warner Wallace</a>
					<div class="description">
						<p>An American homicide detective and Christian apologist. He has authored several books, including Cold-Case Christianity
							and God’s Crime Scene, in which he applies principles of cold case homicide investigation to apologetic concerns such
							as the existence of God and the reliability of the Gospels.</p>
						<p><a href="http://coldcasechristianity.com/j-warner-wallace-christian-apologist-and-author/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/jwarnerwallace"> <i class="fa fa-fw fa-twitter"></i> @jwarnerwallace </a><br>
					<a href="https://www.youtube.com/user/pleaseconvinceme">
					<i class="fa fa-fw fa-youtube"></i> pleaseconvinceme </a><br>
					<a href="https://www.instagram.com/jwarnerwallace"> <i class="fa fa-fw fa-instagram"></i> jwarnerwallace </a><br>
					<a href="https://www.facebook.com/j.warnerwallace"> <i class="fa fa-fw fa-facebook"></i> j.warnerwallace </a><br>
					<a href="http://coldcasechristianity.com/"> <i class="fa fa-fw fa-desktop"></i> coldcasechristianity.com </a> <br>
					<a href="https://itunes.apple.com/us/podcast/cold-case-christianity-podcast/id259695657?mt=2">
					<i class="fa fa-fw fa-microphone"></i> Cold-Case Christianity Podcast </a> <br>
					<a href="http://coldcasechristianity.com/the-cold-case-christianity-app/">
					<i class="fa fa-fw fa-mobile"></i> The Cold-Case Christianity app </a> <br>
					<a href="https://www.amazon.com/J.-Warner-Wallace/e/B008LM6FR6/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=ec878aa6ba14917de88f23515b922901&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/jamesw.jpg"> </div>
				<div class="content"> <a class="header">James White</a>
					<div class="description">
						<p>James White is the director of Alpha and Omega Ministries, a Christian apologetics organization based in Phoenix, Arizona.
							He is the author of more than twenty books, a professor, an accomplished debater, and an elder of the Phoenix Reformed
							Baptist Church.</p>
						<p><a href="http://www.aomin.org/aoblog/index.php/about/media-bios">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/DrOakley168"> <i class="fa fa-fw fa-twitter"></i> @DrOakley168 </a><br>
					<a href="https://www.facebook.com/prosapologian"> <i class="fa fa-fw fa-facebook"></i> prosapologian </a> <br>
					<a href="https://www.youtube.com/user/AominOrg"> <i class="fa fa-fw fa-youtube"></i> AominOrg </a> <br>
					<a href="http://www.aomin.org/"> <i class="fa fa-fw fa-desktop"></i> http://www.aomin.org/ </a> <br>
					<a href="https://www.amazon.com/James-R.-White/e/B001IXS25S/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=e525bebf4132b467d3039d50fa107a65&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/dwilson.jpg"> </div>
				<div class="content"> <a class="header">Douglas Wilson</a>
					<div class="description">
						<p>A conservative Reformed and evangelical theologian, pastor at Christ Church in Moscow, Idaho, faculty member at New
							Saint Andrews College, and prolific author and speaker. He is featured in the documentary film Collision documenting
							his debates with anti-theist Christopher Hitchens on their promotional tour for the book "Is Christianity Good for
							the World?".</p>
						<p><a href="https://dougwils.com/about">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/douglaswils"> <i class="fa fa-fw fa-twitter"></i> @douglaswils </a><br>
					<a href="https://www.facebook.com/dougwils"> <i class="fa fa-fw fa-facebook"></i> dougwils </a><br>
					<a href="https://dougwils.com"> <i class="fa fa-fw fa-desktop"></i> www.dougwils.com </a> <br>
					<a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Douglas+Wilson&search-alias=books&field-author=Douglas+Wilson&sort=relevancerank&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=6d49671c820aec845fa76a959002f00a&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>

			<div class="card">
				<div class="image"> <img src="/images/top-apologist-to-read-follow/ravi.jpg"> </div>
				<div class="content"> <a class="header">Ravi Zacharias</a>
					<div class="description">
						<p>Ravi Zacharias is a noted author and speaker who has been invited to present the claims of the Judeo-Christian worldview
							on university campuses, in halls of government, and numerous forums around the world for 44 years.</p>
						<p><a href="http://rzim.org/bio/ravi-zacharias/">more ...</a></p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://twitter.com/RaviZacharias"> <i class="fa fa-fw fa-twitter"></i> @RaviZacharias </a><br>
					<a href="https://www.youtube.com/user/rzimmedia"> <i class="fa fa-fw fa-youtube"></i> rzimmedia </a><br>
					<a href="https://www.facebook.com/ravizacharias/"> <i class="fa fa-fw fa-facebook"></i> ravizacharias </a><br>
					<a href="http://rzim.org/"> <i class="fa fa-fw fa-desktop"></i> www.rzim.org </a> <br>
					<a href="https://www.amazon.com/Ravi-Zacharias/e/B000APPDAC/?&_encoding=UTF8&tag=cmca.com-20&linkCode=ur2&linkId=5cba72a2b7c8a2e5a50829117482d6d5&camp=1789&creative=9325">
					<i class="fa fa-fw fa-book"></i> books on amazon </a>
				</div>
			</div>


		</div>
	</section>
	
{% endblock %}
