{% extends 'layouts/application.html' %}

{% block head %}

    <title>Essential classical Christian doctrines</title>

    <meta name="description" content="Knowledge & resources for defending classical monotheistic Christianity">

{% endblock %}

{% block bodyid %}essential-mere-orthodox-christianity{% endblock %}
{% block bodyclass %}apologists-know{% endblock %}

{% block content %}

<section id="search">
	<header class="main">
		<h1>Essential classical Christian doctrines</h1>
	</header>
    <p>Classical Christianity, like any group, has a basic set of non-negotiable beliefs or <a class="wordDef">doctrines</a> held to be <a class="termDef">objectively</a> true for all people at all times. </p>
    
    <p>The non-negotiable essential doctrines of classical Christianity are:</p>

<ol>
    <li><strong>Final authority of scripture</strong> - The Bible is the final standard of measure (i.e. canon) in all things. Inspired by God (<a class="verse">2 Timothy 3:16</a>), written down by humans. It is the final authority and without it nothing can be affirmed or asserted with confidence.</li>
    <li><strong>The bodily resurrection of Jesus</strong> - Jesus was <a class="wordDef" data-word="crucifixion">crucified</a> to death and return from death alive again. On this single event hangs all of Christianity. If he did not return from death, then Christianity is worthless (<a class="verse">1 Thessalonians 4:13-18</a>, <a class="verse">John 2:19-21</a>).</li>
    <li><strong>Jesus is God</strong> - <a class="verse">John 8:58</a> with <a class="verse">Exodus 3:14</a>. Also, <a class="verse">John 1:1, 14; 10:30-33</a>, <a class="verse">Col 2:9</a>, <a class="verse">Philippians 2:5-8</a></li>
    <li><strong><a class="termDef">Monotheism</a></strong> - God has no equal. There is only one uncasued, first cause, supreme being, and creator. <a class="verse">Isaiah 44:6</a></li>
    <li><strong>Original Sin</strong> - Humans are fallen and <a class="wordDef">culpable</a>. Sin renders everyone guilty before God. (<a class="verse">Romans 3:23</a>)</li>
    <li><strong><a class="wordDef">Salvation</a> by grace alone through trust in Jesus alone</strong> -  Christ alone served the guilty sentence for human sin. Christians trust in Jesus alone to save them from an <a class="wordDef">eternal</a> separation from God due to human sinfulness (<a class="verse">Romans 11:6</a>, John 6, <a class="verse">Eph. 2:8-9</a>)</li>
</ol>

<p>These essentials are not an argument for Classical Christianity. That is a separate topic. The purpose of listing these essentials beliefs is to clarify the non-negotiable fundamental beliefs of classical Christianity. </p> 

<p>Additionally, these fundamental beliefs are in contradiction to <a class="wordDef">Mormonism</a>, <a href="https://www.jw.org/en/" class="termDef">Jehovah’s Witness</a>, <a class="wordDef">Atheism</a>, <a class="wordDef">Deism</a>, <a class="wordDef">Islamism</a>, <a class="wordDef">Buddhism</a>, <a class="wordDef">Judaism</a>, and <a class="wordDef">Hinduism</a> all teach as true. If any of other religion is objectively true, then Christianity is false. And, if Christianity is objectively true then <a class="wordDef">Mormonism</a>, <a href="https://www.jw.org/en/" class="termDef">Jehovah’s Witness</a>, <a class="wordDef">Atheism</a>, <a class="wordDef">Deism</a>, <a class="wordDef">Islamism</a>, <a class="wordDef">Buddhism</a>, <a class="wordDef">Judaism</a>, and <a class="wordDef">Hinduism</a> are all false. Logically they could all be false, but what can’t be true, is that they are all true.</p>

</section>

{% endblock %}
