{% extends 'layouts/application.html' %}

{% block head %}

    <title>Essential classical Christian doctrines</title>

    <meta name="description" content="Knowledge & resources for defending classical monotheistic Christianity">

{% endblock %}

{% block bodyid %}essential-mere-orthodox-christianity{% endblock %}
{% block bodyclass %}apologists-know{% endblock %}

{% block content %}

<section id="search">
	<header class="main">
		<h1>Essential classical Christian doctrines</h1>
	</header>
    <p>Classical Christianity, like any group, has a basic set of non-negotiable beliefs or <a class="wordDef">doctrines</a> held to be <a class="termDef" data-term="objective">objectively</a> true for all people at all times. </p>

    <p>The non-negotiable essential doctrines of classical Christianity are:</p>

<ul>
    <li><strong>Final authority of scripture</strong> - The Bible is the final standard of measure (i.e. <a class="wordDef" data-index="1">canon</a>) in all things. Inspired by God (<a class="verse">2 Timothy 3:16</a>), written down by humans. It is the final authority and without it nothing can be affirmed or asserted with confidence. Including the remaining doctrines in this list! No <a class="termDef">extrabiblical</a> tradition, prophesying, <a class="wordDef">papal</a> decrees, or additional books hold authority over scripture.</li>
    <li><strong>The bodily resurrection of Jesus</strong> - Jesus was <a class="wordDef" data-word="crucifixion">crucified</a> to death and return from death alive again. On this single historically verifiable event hangs all of Christianity. If he did not return from death, then Christianity is worthless (<a class="verse">1 Thessalonians 4:13-18</a>, <a class="verse">John 2:19-21</a>).</li>
    <li><strong>Jesus is God</strong> - <a class="verse">John 8:58</a> with <a class="verse">Exodus 3:14</a>. Also, <a class="verse">John 1:1</a>, <a class="verse">John 14</a>, <a class="verse">John 10:30-33</a>, <a class="verse">Col 2:9</a>, <a class="verse">Philippians 2:5-8</a></li>
    <li><strong><a class="termDef">Monotheism</a></strong> - God has no equal. There is only one un-caused, first cause, supreme being, and creator. <a class="verse">Isaiah 44:6</a></li>
    <li><strong>Original Sin</strong> - All humans do evil and are <a class="wordDef">culpable</a>. In other words, sin renders everyone guilty before God. (<a class="verse">Romans 3:23</a>)</li>
    <li><strong><a class="wordDef">Salvation</a> by grace alone through trust in Jesus alone</strong> -  Christ alone served the guilty sentence for human sin. Christians trust in Jesus alone to save them from an <a class="wordDef">eternal</a> separation from God due to human sinfulness (<a class="verse">Romans 11:6</a>, <a class="verse" data-nopopup>John 6</a>, <a class="verse">Eph. 2:8-9</a>)</li>
</ul>

<p>These essentials are not an argument for the rationality of the classical Christianity worldview. That is a separate matter. The purpose of listing these essential beliefs is to assert and clarify the non-negotiable fundamental beliefs of classical Christianity. If anyone holds these essentials as untrue and negotiable then they are outside of the <a data-index="1" class="wordDef">pail</a> of classical Christianity (i.e. not Christian).<sup>[1]</sup></p> 

<p>Additionally, the essential classical Christian doctrines are in contradiction to the beliefs of <a class="wordDef">Mormonism</a>, <a href="https://www.jw.org/en/" class="termDef">Jehovah’s Witness</a>, <a class="termDef">Atheism</a>, <a class="wordDef">Deism</a>, <a class="wordDef">Islamism</a>, <a class="wordDef">Buddhism</a>, <a class="wordDef">Judaism</a>, and <a class="wordDef">Hinduism</a>. If Christianity is objectively true then all other claims on reality are false. Logically everyone could be wrong. But what can’t follow is based on contradictorily objective truth claims from each they are all true. They all make truth claims that logically contradict the other.<sup>[2]</sup></p>

<hr>

<div class="footnotes">
<h4>Footnotes:</h4>

<ol>
    <li>The scripture itself declares these doctrines as essentials or logic requires it. If anyone denies these essentials they are non-Christian.</li>
    <li>For a more detailed explanation on how all other religions contradict classical Christianity see the <a href="https://carm.org/doctrine-grid">Doctrine Grid</a> by Matt Slick</li>
</ol>

</div>

<div class="references">
<h4>References:</h4>

<ul>
    <li>Slick, Matt. Essential Doctrines of Christianity. <a href="https://carm.org">https://carm.org</a>. 11/23/08. <a href="https://carm.org/essential-doctrines-of-christianity">https://carm.org/essential-doctrines-of-christianity</a></li>
    <li>Koukl, Greg. Essential Christian Doctrines. <a href="http://www.str.org/">http://www.str.org/</a>. 02/20/2013.  <a href="http://www.str.org/articles/essential-christian-doctrines#.WDoOSaIrJE4">http://www.str.org/articles/essential-christian-doctrines#.WDoOSaIrJE4</a></li>
    <li>Christian Research Institute. What is essential Christian doctrine?. <a href="http://www.equip.org/">http://www.equip.org/</a>. August 24th, 2010. <a href="http://www.equip.org/bible_answers/what-is-essential-christian-doctrine/">http://www.equip.org/bible_answers/what-is-essential-christian-doctrine/</a>   </li>
     <li>Grace to You. What Doctrines Are Essential?. Part 1, Part 2, Part3, <a href="hhttp://www.gty.org/">http://www.gty.org/</a>. <a href="http://www.gty.org/resources/questions/QA199/what-doctrines-are-essential--part-1">http://www.gty.org/resources/questions/QA199/what-doctrines-are-essential--part-1</a>, <a href="http://www.gty.org/resources/questions/QA200/What-Doctrines-Are-Essential--Part-2">http://www.gty.org/resources/questions/QA200/What-Doctrines-Are-Essential--Part-2</a>, <a href="http://www.gty.org/resources/questions/QA201/What-Doctrines-Are-Essential--Part-3">http://www.gty.org/resources/questions/QA201/What-Doctrines-Are-Essential--Part-3</a>   </li>
</ul>

</div>

</section>

{% endblock %}
