{% extends 'layouts/application.html' %}

{% block head %}

    <title>Apologetic certificate programs</title>

    <meta name="description" content="List of programs that provide a Christian apologetic certificate">

{% endblock %}

{% block bodyid %}certificate-programs{% endblock %}
{% block bodyclass %}apologetic-resources{% endblock %}

{% block content %}

<section id="search">
	<header class="main">
		<h1>Apologetic certificate programs</h1>
	</header>
	<p>Most of these certificate programs can be complete from anywhere:</p>
	<div class="ui link cards" style="margin-top:50px">

		<div class="card">
			<div class="content">
				<h3 class="header">Christian Apologetics Certificate</h3>
				<div class="meta"> <span class="date">from <a href="https://www.biola.edu/">Biola University</a></span> </div>
				<hr>
				<div class="description">
					<p>The Online Certificate Program in Christian Apologetics is open to everyone regardless of educational background. There are no prerequisites for this program. We believe that every Christian should have access to training in apologetics regardless of age, careers, time restraints, denomination, or finances. </p>
					<p><a href="https://www.biola.edu/apologetics/certificate">Get certificate</a></p>
				</div>
			</div>
			<div class="extra content"> 
				$350 for all courses or $125 each.
				</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">The Norman L. Geisler Apologetics Certificate</h3>
				<div class="meta"> <span class="date">from <a href="http://www.ves.edu/">Veritas Evangelical Seminary</a></span> </div>
				<hr>
				<div class="description">
					<p>Don’t have time to sit in the classroom but desire deeper knowledge in sharing the Gospel and defending the Christian Faith? The Apologetics Certificate is designed for you! This is a non-degree certificate program in Christian Apologetics co-sponsored by Veritas Evangelical Seminary and Norm Geisler International Ministries (NGIM.com).</p>
					<p><a href="http://www.ves.edu/the-norman-l-geisler-apologetics-certificate/">Get certificate</a></p>
				</div>
			</div>
			<div class="extra content"> 
				$249 per online course and $269 per DVD course (5 total courses)
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Certificate in Science Apologetics</h3>
				<div class="meta"> <span class="date">from <a href="http://www.reasons.org/education/reasons-institute/overview">Reasons Institute</a></span> </div>
				<hr>
				<div class="description">
					<p>This program is open to anyone who wants to be prepared to bring the Gospel to scientists and skeptics, but without going through a formal degree program.</p>
					<p><a href="http://www.reasons.org/education/reasons-institute/certificate">Get certificate</a></p>
				</div>
			</div>
			<div class="extra content"> 
				For 5 week courses – $150 per course + materials<br><br>
For 8 week courses – $175 per course + materials<br><br>
For 15 week courses – $225 per course + materials
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Athanatos Online Academy Apologetics Certificate</h3>
				<div class="meta"> <span class="date">from <a href="http://athanatosministries.org">Athanatos Christian Ministries</a></span> </div>
				<hr>
				<div class="description">
					<p>The Athanatos Online Academy Apologetics Certificate aims to equip the student with the critical information to help them understand why Christianity is reasonable and respond to the challenges posed by the world at large, while laying the groundwork for future, independent learning.</p>
					<p><a href="http://academyofapologetics.com/programs/apologetics-certificate-program/7.htm">Get certificate</a></p>
				</div>
			</div>
			<div class="extra content"> $2,500 if a single payment is made (must be paid prior to beginning the program).<br><br>
$3,000 if more than one payments is made (payments can be structured creatively, but must be paid within 18 month time frame).

			</div>
		</div>

	</div>
</section>

{% endblock %}
