{% extends 'layouts/application.html' %}

{% block head %}

    <title>Apologetic websites</title>

    <meta name="description" content="List of Christian apologetic websites">

{% endblock %}

{% block bodyid %}websites{% endblock %}
{% block bodyclass %}apologetic-resources{% endblock %}

{% block content %}

<section id="search">
	<header class="main">
		<h1>Apologetic websites</h1>
	</header>

	<div class="ui link cards" style="margin-top:50px">

		<div class="card">
			<div class="content">
				<h3 class="header">alwaysbeready.com</h3>
				<hr>
				<div class="description">
					<p>A Christian apologetics ministry dedicated to equipping people with well-researched information on issues that seek to undermine or challenge the truth of Christianity as revealed in the Bible.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://alwaysbeready.com">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">beliefmap.org</h3>
				<hr>
				<div class="description">
					<p>BeliefMap is a Christian apologetics ministry. We aim to produce a growing online “pocket-apologist,” an encyclopedic resource providing users with academically respected points and counterpoints in debates over life's big questions.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://beliefmap.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">bethinking.org</h3>
				<hr>
				<div class="description">
					<p>How can I find meaning in my life? Do we have a purpose? Is there a God behind it all? How should I live? Do I need to be saved? Bethinking.org provides resources to get to grips with these sorts of questions… and more.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://bethinking.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">carm.org</h3>
				<hr>
				<div class="description">
					<p>The purpose of the site is to equip Christians with the truth, to expose the error of false religious systems, evolution, atheism, secularism, etc., and also to teach apologetics, help Christians defend the faith, and glorify the Lord Jesus.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://carm.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">coldcasechristianity.org</h3>
				<hr>
				<div class="description">
					<p>Online home to J. Warner Wallace, author of Cold Case Christianity and God’s Crime Scene.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://coldcasechristianity.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">crossexamined.org</h3>
				<hr>
				<div class="description">
					<p>Led by Frank Turek and other Christian apologists, CrossExamined.org exists to address the problem that 3-out-of-4 Christian youth leave the church while in college, many because they are intellectually skeptical.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://crossexamined.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">equip.org</h3>
				<hr>
				<div class="description">
					<p>The Christian Research Institute exists to provide Christians worldwide with carefully researched information and well-reasoned answers that encourage them in their faith and equip them to intelligently represent it to people influenced by ideas and teachings that assault or undermine orthodox, biblical Christianity.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://equip.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">open.biola.edu</h3>
				<hr>
				<div class="description">
					<p>Open Biola is an extensive online collection of free educational content created and curated by Biola University.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://open.biola.edu/search?tags=apologetics">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">pleaseconvinceme.com</h3>
				<hr>
				<div class="description">
					<p>PleaseConvinceMe.com examines the Christian Worldview from the perspective of a detective. It seeks to equip believers, encourage seekers and engage skeptics by providing them with the reasons why Christians believe what they believe. Jim founded this ministry and contributes here as a blog and article author.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://pleaseconvinceme.com">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">reasons.org</h3>
				<hr>
				<div class="description">
					<p>RTB's mission is to spread the Christian Gospel by demonstrating that sound reason and scientific research—including the very latest discoveries—consistently support, rather than erode, confidence in the truth of the Bible and faith in the personal, transcendent God revealed in both Scripture and nature.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://reasons.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">reasonablefaith.org</h3>
				<hr>
				<div class="description">
					<p>Reasonable Faith aims to provide in the public arena an intelligent, articulate, and uncompromising yet gracious Christian perspective on the most important issues concerning the truth of the Christian faith today.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://reasonablefaith.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">rzim.org</h3>
				<hr>
				<div class="description">
					<p>The primary mission of Ravi Zacharias International Ministries is to reach and challenge those who shape the ideas of a culture with the credibility of the Gospel of Jesus Christ.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://rzim.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">str.org</h3>
				<hr>
				<div class="description">
					<p>Stand to Reason trains Christians to think more clearly about their faith and to make an even-handed, incisive, yet gracious defense for classical Christianity and classical Christian values in the public square.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://str.org">go to site</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">veritas.org</h3>
				<hr>
				<div class="description">
					<p>The Veritas Forum helps students and faculty ask life's hardest questions. Many of the world's leading universities were founded to answer the big "why" questions. Our mission is to help them confront these questions anew.</p>
				</div>
			</div>
			<div class="extra content">
				<a class="button special fit" href="http://veritas.org">go to site</a>
			</div>
		</div>


	</div>
</section>

{% endblock %}
