{% extends 'layouts/application.html' %}

{% block head %}

    <title>Apologetic applications</title>

    <meta name="description" content="List of Christian apologetic apps">

{% endblock %}

{% block bodyid %}applications{% endblock %}
{% block bodyclass %}apologetic-resources{% endblock %}

{% block content %}

<section id="search">
	<header class="main">
		<h1>Apologetic applications</h1>
	</header>

	<div class="ui link cards" style="margin-top:50px">

				<div class="card">
			<div class="content">
				<h3 class="header">Stand to Reason App</h3>
				<div class="meta"> <span class="date">from <a href="https://www.str.org">Stand to Reason</a></span> </div>
				<hr>
				<div class="description">
					<p>Get equipped anywhere, anytime with Stand to Reason's free iPhone, iPod touch, and iPad app. Stand to Reason trains Christians to think more clearly about their faith and to make an even-handed, incisive, yet gracious defense for classical Christianity and classical Christian values.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-download"></i> <a href="https://www.str.org/apps">Download</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Quick-Reference App</h3>
				<div class="meta"> <span class="date">from <a href="https://www.str.org">Stand to Reason</a></span> </div>
				<hr>
				<div class="description">
					<p>Stand to Reason's Quick-Reference App summarizes the information you need to know about tactics, abortion, and other relevant topics through text and video, equipping you to engage in thoughtful conversation about the most important issues of life from a classical Christian perspective.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-download"></i> <a href="https://www.str.org/apps">Download</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Reasonable Faith App</h3>
				<div class="meta"> <span class="date">from <a href="http://www.reasonablefaith.org/">Reasonable Faith</a></span> </div>
				<hr>
				<div class="description">
					<p>With this free app you get access to Dr. William Lane Craig’s weekly Q&A, articles, audio and video of debates and talks, including Dr. Craig’s popular Reasonable Faith Podcast and Defenders Podcast.
Reasonable Faith provides an articulate, intelligent voice for biblical Christianity in the public arena, while training Christians to state and defend Christian truth claims with greater effectiveness.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-download"></i> <a href="https://itunes.apple.com/us/app/reasonable-faith/id470571100?mt=8">Download iOS</a><br>
				<i class="fa fa-fw fa-download"></i> <a href="https://play.google.com/store/apps/details?id=com.subsplash.thechurchapp.reasonablefaith&hl=en">Download Android</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Cross Examined App</h3>
				<div class="meta"> <span class="date">from <a href="http://crossexamined.org/">CrossExamined.org </a></span> </div>
				<hr>
				<div class="description">
					<p>The Cross Examined App features inspiring content from author and apologist Dr. Frank Turek, president of CrossExamined.Org. Featuring a "Quick Answers" section that helps you respond to popular objections to Christianity, the Cross Examined blog, speaker schedule, and radio recordings- this app can help you grow and defend the faith. Share your discoveries via Twitter, Facebook or email.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-download"></i> <a href="http://get.thechurchapp.org/754a/#!/cross-examined">Download</a>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">The Cold-Case Christianity App</h3>
				<div class="meta"> <span class="date">from <a href="http://coldcasechristianity.com/">coldcasechristianity.com</a></span> </div>
				<hr>
				<div class="description">
					<p>Wouldn’t it be great to have the answers you’re looking for “on the go”? Wouldn’t it be great to have Christian Case Making resources just when you need them? The Cold-Case Christianity Mobile App brings all the Christian Case Making features and resources of Cold-Case Christianity to your fingertips.</p>
				</div>
			</div>
			<div class="extra content"> 
				<i class="fa fa-fw fa-download"></i> <a href="http://coldcasechristianity.com/the-cold-case-christianity-app/">Download</a>
			</div>
		</div>

	</div>
</section>

{% endblock %}
