{% extends 'layouts/application.html' %}

{% block head %}

    <title>Apologetic courses</title>

    <meta name="description" content="Knowledge & resources for defending classical monotheistic Christianity">

	<style>
		.cards h3{
			margin-bottom:5px;
		}
	</style>
{% endblock %}

{% block bodyid %}courses{% endblock %}
{% block bodyclass %}apologetic-resources{% endblock %}

{% block content %}

<section id="search">
	<header class="main">
		<h1>Apologetic courses</h1>
	</header>

	<p>Most of these courses can be complete from anywhere:</p>
	<div class="ui link cards" style="margin-top:50px">

		<div class="card">
			<div class="content">
				<h3 class="header">The Historical Reliability of the Gospels</h3>
				<div class="meta"> <span class="date">from <a href="http://www.credocourses.com/">Credo Courses</a></span> </div>
				<hr>
				<div class="description">
					<p>Dr. Craig Blomberg is the author of The Historical Reliability of the Gospels. In this course he addresses and debunks the allegations agains the Canonical Gospels one at a time while affirming the orthodox Christian position.</p>
					<p><a href="http://www.credocourses.com/product/the-historical-reliability-of-the-gospels/">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				Video Download $199.99 (additional resources available)
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">The Resurrection of Jesus</h3>
				<div class="meta"> <span class="date">from <a href="http://www.credocourses.com/">Credo Courses</a></span> </div>
				<hr>
				<div class="description">
					<p>Dr. Gary Habermas is Distinguished Research Professor of Apologetics and Philosophy at Liberty University. Dr. Habermas is the most respected scholar of the resurrection of Jesus in America and in this class he teaches you everything he’s learned.</p>
					<p><a href="http://www.credocourses.com/product/the-resurrection-of-jesus/">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				Video Download $199.99 (additional resources available)
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Christian Apologetics 101</h3>
				<div class="meta"> <span class="date">from <a href="http://www.credocourses.com/">Credo Courses</a></span> </div>
				<hr>
				<div class="description">
					<p>Dr. Douglas Groothuis is Professor of Philosophy at Denver Seminary. This class covers arguments for the Christian worldview while critiquing non-Christian accounts of reality.</p>
					<p><a href="http://www.credocourses.com/product/the-resurrection-of-jesus/">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				Video Download $199.99 (additional resources available)
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Basic Apologetics Course</h3>
				<div class="meta"> <span class="date">from <a href="http://www.cslewisinstitute.org/">C.S. Lewis Institute</a></span> </div>
				<hr>
				<div class="description">
					<p>The Basic Apologetics Course is designed for those who wish to be better equipped to reach non-believers by giving honest answers to honest questions with gentleness and respect. This 20-lecture series includes four sets: Reasons for Faith, Responding to Atheism, Objections to Faith and Responding to New Age and Cults.</p>
					<p><a href="http://www.cslewisinstitute.org/Basic_Apologetics_Course">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				free
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">RZIM Core Module</h3>
				<div class="meta"> <span class="date">from <a href="http://rzimacademy.org/about/">RZIM Academy</a></span> </div>
				<hr>
				<div class="description">
					<p>The Core Module is the centerpiece of the RZIM Academy and the starting point for all participants.  It is entirely online and offers 26 lectures over 12 weeks featuring some of the most experienced and gifted apologists on the RZIM team.  The aim of this program is to help individuals become better equipped to give a reason for the hope that they have.</p>
					<p><a href="http://rzimacademy.org/courses/core-module/">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				$199.99
			</div>
		</div>

	</div>
</section>

{% endblock %}
