{% extends 'layouts/application.html' %}

{% block head %}

    <title>Apologetic courses</title>

    <meta name="description" content="List of Christian apologetic courses">

{% endblock %}

{% block bodyid %}courses{% endblock %}
{% block bodyclass %}apologetic-resources{% endblock %}

{% block content %}

<section id="search">
	<header class="main">
		<h1>Apologetic courses</h1>
	</header>

	<p>Most of these courses can be complete from anywhere:</p>
	<div class="ui link cards" style="margin-top:50px">

		<div class="card">
			<div class="content">
				<h3 class="header">The Historical Reliability of the Gospels</h3>
				<div class="meta"> <span class="date">from <a href="http://www.credocourses.com/">Credo Courses</a></span> </div>
				<hr>
				<div class="description">
					<p>Dr. Craig Blomberg is the author of The Historical Reliability of the Gospels. In this course he addresses and debunks the allegations agains the Canonical Gospels one at a time while affirming the orthodox Christian position.</p>
					<p><a href="http://www.credocourses.com/product/the-historical-reliability-of-the-gospels/">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				Video Download $199.99 (additional resources available)
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">The Resurrection of Jesus</h3>
				<div class="meta"> <span class="date">from <a href="http://www.credocourses.com/">Credo Courses</a></span> </div>
				<hr>
				<div class="description">
					<p>Dr. Gary Habermas is Distinguished Research Professor of Apologetics and Philosophy at Liberty University. Dr. Habermas is the most respected scholar of the resurrection of Jesus in America and in this class he teaches you everything he’s learned.</p>
					<p><a href="http://www.credocourses.com/product/the-resurrection-of-jesus/">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				Video Download $199.99 (additional resources available)
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Christian Apologetics 101</h3>
				<div class="meta"> <span class="date">from <a href="http://www.credocourses.com/">Credo Courses</a></span> </div>
				<hr>
				<div class="description">
					<p>Dr. Douglas Groothuis is Professor of Philosophy at Denver Seminary. This class covers arguments for the Christian worldview while critiquing non-Christian accounts of reality.</p>
					<p><a href="http://www.credocourses.com/product/the-resurrection-of-jesus/">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				Video Download $199.99 (additional resources available)
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Basic Apologetics Course</h3>
				<div class="meta"> <span class="date">from <a href="http://www.cslewisinstitute.org/">C.S. Lewis Institute</a></span> </div>
				<hr>
				<div class="description">
					<p>The Basic Apologetics Course is designed for those who wish to be better equipped to reach non-believers by giving honest answers to honest questions with gentleness and respect. This 20-lecture series includes four sets: Reasons for Faith, Responding to Atheism, Objections to Faith and Responding to New Age and Cults.</p>
					<p><a href="http://www.cslewisinstitute.org/Basic_Apologetics_Course">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				free
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">RZIM Core Module</h3>
				<div class="meta"> <span class="date">from <a href="http://rzimacademy.org/about/">RZIM Academy</a></span> </div>
				<hr>
				<div class="description">
					<p>The Core Module is the centerpiece of the RZIM Academy and the starting point for all participants.  It is entirely online and offers 26 lectures over 12 weeks featuring some of the most experienced and gifted apologists on the RZIM team.  The aim of this program is to help individuals become better equipped to give a reason for the hope that they have.</p>
					<p><a href="http://rzimacademy.org/courses/core-module/">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				$199.99
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">A Conversation with Fuz Rana on Faith and Science</h3>
				<div class="meta"> <span class="date">from <a href="http://courses.impact360institute.org/">Impact 360 Institute </a></span> </div>
				<hr>
				<div class="description">
					<p>What does the Bible teach about creation and evolution? It's easy to just gloss over these topics in the name of faith. However, if the creation story is true it is strong enough to withstand all of the tough questions. In our fascinating discussion with Dr. Fuz Rana you will gain a biblical perspective on why your Christian faith and science are not at odds.</p>
					<p><a href="http://courses.impact360institute.org/courses/a-conversation-with-fuz-rana-on-science-design-origins">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				free
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">How to Question the Bible and Keep Your Faith</h3>
				<div class="meta"> <span class="date">from <a href="http://courses.impact360institute.org/">Impact 360 Institute </a></span> </div>
				<hr>
				<div class="description">
					<p>Can a thoughtful person today seriously believe that God wrote a book?<p>

<p>All of us have questions about the Bible. At the end of the day, what we have to figure out is what we will do with those questions. Will we keep them hidden and allow unanswered questions and doubts to slowly erode our confidence that God has spoken? Or will we courageously question the Bible in a way that actually builds our faith?</p>

<p>There are an unprecedented number of sophisticated attacks today on the origin, credibility, and reliability of the Bible. In this engaging talk popular author, speaker, and teacher Jonathan Morrow helps us learn to question the Bible in a way that increases our confidence that God really has spoken.</p>
					<p><a href="http://courses.impact360institute.org/courses/question-the-bible">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				free
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">A Conversation with Gregory Thornbury on Faith &amp; Culture</h3>
				<div class="meta"> <span class="date">from <a href="http://courses.impact360institute.org/">Impact 360 Institute </a></span> </div>
				<hr>
				<div class="description">
<p>Can Christians engage culture in a way that is both redemptive and meaningful?</p>

<p>Christians are looking for answers on how to purposefully interact with today's culture. There are many different perspectives on the level of interaction, the plan of interaction, and the perspective for interaction. We can continue to allow these different perspectives to confuse or even divert us from even attempting to connect and engage in meaningful ways. Or, we can move forward openly into the conversation and see what the Bible says about the intersection between faith and culture.</p>

<p>There are Christians who avoid talking about this convergence all together. In this informative and practical conversation, Dr. Gregory Thornbury dives into the questions and Biblical answers surrounding culture, the Gospel, evangelicalism, relativism, conservatism, the arts, and more. Enjoy!</p>
					<p><a href="http://courses.impact360institute.org/courses/a-conversation-with-gregory-thornbury-on-culture">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				free
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">A Conversation About Christianity &amp; Politics with Hunter Baker</h3>
				<div class="meta"> <span class="date">from <a href="http://courses.impact360institute.org/">Impact 360 Institute </a></span> </div>
				<hr>
				<div class="description">
<p>In this political season, how can we, as Christians, live and vote according to our values?</p>

<p>In this engaging talk professor Hunter Bakers offers a clear picture to Christians seeking to allow their political opinions and behaviors to be deeply effected and influenced by their Biblical worldview.</p>

<p>Political science and faith expert and Union University professor, Hunter Baker, is also the author of Political Thought: A Student's Guide, The End of Secularism and The System Has a Soul.</p>
					<p><a href="http://courses.impact360institute.org/courses/a-conversation-about-christianity-politics-with-hunter-baker">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				free
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Same Sex Marriage: What Now?</h3>
				<div class="meta"> <span class="date">from <a href="http://courses.impact360institute.org/">Impact 360 Institute </a></span> </div>
				<hr>
				<div class="description">
<p>Same sex marriage has gone from unthinkable to unquestionable in our culture. So, what now?</p>

<p>In this engaging talk popular author and speaker John Stonestreet offers both clear thinking and clear action to Christians seeking to be both truthful and loving in the midst of this highly controversial and often misunderstood issue.</p>

<p>Faith and culture expert and voice of Breakpoint, John Stonestreet, is also the co-author of Same-Sex Marriage: A Thoughtful Approach to God’s Design for Marriage and co-author of Restoring All Things.</p>
					<p><a href="http://courses.impact360institute.org/courses/same-sex-marriage-what-now">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				free
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Explore the Resurrection</h3>
				<div class="meta"> <span class="date">from <a href="http://courses.impact360institute.org/">Impact 360 Institute </a></span> </div>
				<hr>
				<div class="description">
<p>How do we know that jesus rose from the dead?</p>

<p>What makes Explore the Resurrection different is that it presents the latest historical evidence in a visually engaging way that connects with everyday people. After walking through the material in this digital course, you'll be equipped to confidently settle the matter in your own mind.</p>

<p>You'll not only learn why the resurrection of Jesus is the best explanation of the historical facts, but you’ll also understand how it affects you personally and then be ready to confidently and clearly share this evidence with others.</p>
					<p><a href="http://courses.impact360institute.org/courses/explore-the-resurrection">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				$39.99
			</div>
		</div>

		<div class="card">
			<div class="content">
				<h3 class="header">Explore Truth</h3>
				<div class="meta"> <span class="date">from <a href="http://courses.impact360institute.org/">Impact 360 Institute </a></span> </div>
				<hr>
				<div class="description">
<p>"There are many ways to God so why do Christians think theirs is the only way? That’s SO narrow-minded..."</p>

<p>"Christians are arrogant, intolerant bigots who think they’re right and everyone else is wrong."</p>

<p>"People should be free to believe and live however they want as long as they don’t hurt anybody."</p>

<p>Those are pervasive ideas in today’s culture. None of them are new, but they’re growing in popularity—even making their way into the pews and choir lofts of evangelical churches. That makes it more important than ever to know how to think critically about them, find out whether they’re true or not, and know how to respond when you hear them. In this course we give you the tools you need to do all that, and to stand as a beacon of truth in an increasingly secular world.</p>
					<p><a href="http://courses.impact360institute.org/courses/explore-truth">Get course</a></p>
				</div>
			</div>
			<div class="extra content"> 
				$29.99
			</div>
		</div>

	</div>
</section>

{% endblock %}
